<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="wrapper">
      <header>
        {% assign sidebar_img = page.sidebar_image | default: site.logo %}
        {% if sidebar_img %}
          <img src="{{ sidebar_img | relative_url }}" alt="{{ page.title | default: site.title }}" />
        {% endif %}

        <p>{{ page.sidebar_description | default: site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/TheMn/themn.github.io">TheMn</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
