html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', 'Amiri'
}

figure.profile_container {
    width: 100%;
    margin: auto;
}

img.profile_picture {
    width: 100%;
}

figcaption.profile_caption {
    font-size: 36px;
    color: white;
    text-align: center;
    background: rgba(0, 128, 128, 0.9);
    /*margin-right: auto;*/
}